<div class="container">
  <div class="main-container">
    <header class="header">
      <div class="header__nav-bar">
        <a href="/" class="header__nav-bar--logo">
          <img src="../assets/img/Logo.svg" alt="Логотип">
        </a>
        <nav>
          <a href="/" class="header__nav-bar--item">Главная</a>
          <a href="/" class="header__nav-bar--item">О компании</a>
          <a href="/" class="header__nav-bar--item">Каталог</a>
        </nav>
      </div>
      <div class="header__contacts">
        <a href="/" class="header__contacts--phone">
          <img src="../assets/img/Phone.svg" alt="Контактный номер">
          <p>+7 (965) 084-29-29</p>
        </a>
        <a href="/">
          <img src="../assets/img/Heart.svg" alt="Избранное">
        </a>
        <button>
          <img src="../assets/img/Buying.svg" alt="Корзина">
          Пусто</button>
      </div>
    </header>
  </div>
</div>